---
import { getSlugFromPath, getTitleFromSlug } from '../lib/utils'
import Layout from '../layouts/Layout.astro'
import Anchor from '../components/Anchor.astro'

export async function getStaticPaths() {
    const posts = await Astro.glob('../posts/*.mdx')

    return posts.map(post => {
        const slug = getSlugFromPath(post.file)
        return ({
            params: {
                slug
            },
            props: {
                post,
                title: post.frontmatter['title'] ?? getTitleFromSlug(slug),
                path: `/${slug}/`
            }
        })
    })
}

const { Content } = Astro.props.post
const { title, path } = Astro.props

const components = {
    a: Anchor
}
---
<Layout title={title} path={path}>
    <main>
        <article>
            <Content components={components} title={title} />
        </article>
    </main>
</Layout>

<style>
    article :global(h1) {
        font-size: 2em;
        text-align: center;
    }
    article > :global(* + *) {
        margin-block-start: 1rem;
    }
    article > :global(.footnotes) {
        margin-block-start: 3.5em;
        font-size: 0.9em;
        border-block-start: 1px solid #CCC;
    }
    article :global(h2), article :global(h3) {
        border-block-end: 1px solid #CCC;
    }
    article :global([data-rehype-pretty-code-fragment] pre) {
        margin: 0;
    }
    article :global([data-rehype-pretty-code-fragment] pre > code) {
        display: grid;
        padding: 1rem;
    }
    article :global([data-rehype-pretty-code-fragment] code[data-line-numbers]) {
        padding-inline-start: 10px;
        counter-reset: line;
    }
    article :global([data-rehype-pretty-code-fragment] code[data-line-numbers] > .line::before) {
        counter-increment: line;
        content: counter(line);

        font-family: ui-monospace, monospace;
        display: inline-block;
        width: 1.5rem;
        margin-right: 1rem;
        text-align: right;
        color: gray;
    }
</style>
