---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { getSlugFromPath, getTitleFromSlug, getPrevAndNextArticle } from '../lib/utils'
import { LeftArrow, RightArrow } from '../components/icons'
import Layout from '../layouts/Layout.astro'
import Anchor from '../components/Anchor.astro'
import Image from '../components/Image.astro'

export interface Props {
    post: CollectionEntry<"diary">
    title: string
    path: string
}

export async function getStaticPaths() {
    const posts = await getCollection('diary')

    return posts.map(post => {
        const slug = getSlugFromPath(post.id)
        return ({
            params: {
                slug
            },
            props: {
                post,
                title: post.data['title'] ?? getTitleFromSlug(slug),
                path: `/${slug}/`
            }
        })
    })
}

const { Content } = await Astro.props.post.render()
const { title, path } = Astro.props

const components = {
    a: Anchor,
    img: Image
}

const { prev, next } = getPrevAndNextArticle(new Date(path.split('/')[1]!))
---
<Layout title={title} path={path}>
    <main>
        <article class="prose">
            <Content components={components} title={title} />
        </article>
        <div class="prev-next">
            <div>
                <!-- https://iconmonstr.com/angel-left-thin-svg/ -->
                { next && <LeftArrow class="icon" aria-label="次の記事" /> }
                { next && <a href={next.url}>{ next.title }</a> }
            </div>
            <div>
                { prev && <a href={prev.url}>{ prev.title }</a> }
                <!-- https://iconmonstr.com/angel-right-thin-svg/ -->
                { prev && <RightArrow class="icon" aria-label="前の記事" /> }
            </div>
        </div>
    </main>
</Layout>

<style>
    article :global(h1) {
        text-align: center;
    }
    article > :global(.footnotes) {
        margin-block-start: 3.5em;
        font-size: 0.9em;
        border-block-start: 1px solid var(--border-color);
    }
    article :global(h2), article :global(h3) {
        border-block-end: 1px solid var(--border-color);
    }
    article :global([data-rehype-pretty-code-title]) {
        font-family: ui-monospace, monospace;
        /* https://www.nordtheme.com/docs/colors-and-palettes */
        background-color: #4c566a;
        color: #eceff4;
        padding: 0.3rem 1rem;
        font-size: 0.9em;
    }
    article :global([data-rehype-pretty-code-fragment]) {
        border-radius: 0.3rem;
        overflow: hidden;
    }
    article :global([data-rehype-pretty-code-fragment] pre) {
        margin: 0;
    }
    article :global(pre > code) {
        display: grid;
        padding: 1rem;
        overflow-x: scroll;
    }
    article :global([data-rehype-pretty-code-fragment] code[data-line-numbers]) {
        padding-inline-start: 10px;
        counter-reset: line;
    }
    article :global([data-rehype-pretty-code-fragment] code[data-line-numbers] > .line::before) {
        counter-increment: line;
        content: counter(line);

        font-family: ui-monospace, monospace;
        display: inline-block;
        width: 1rem;
        margin-right: 1rem;
        text-align: right;
        color: darkgray;
    }
    article :global([data-rehype-pretty-code-fragment] code[data-line-numbers-max-digits="2"] > .line::before) {
        width: 1.5rem;
    }
    article :global([data-rehype-pretty-code-fragment] code[data-line-numbers-max-digits="3"] > .line::before) {
        width: 2rem;
    }

    .prev-next {
        display: flex;
        margin-block-start: 2.5rem;
    }
    .prev-next > * {
        width: 50%;
        text-align: center;
    }
    .icon {
        height: 0.8em;
        width: auto;
    }
</style>
