---
import fetchSiteMetadata from '../lib/cache-metadata'

interface Props {
    url: string
}

const { url } = Astro.props

const metadata = await fetchSiteMetadata(url)
---
<a href={url} class="container">
    <div class="info">
        <div class="title">{ metadata.title || url }</div>
        <div class="description">{ metadata.description }</div>
        <div class="site">
            { metadata.icon && <img src={metadata.icon} alt="" class="icon" width="16" height="16" loading="lazy" /> }
            { new URL(url).host }
        </div>
    </div>
    { metadata.image && <img src={metadata.image.src} alt={metadata.image.alt ?? ""} class="img" loading="lazy" width={metadata.image.width} height={metadata.image.height} /> }
</a>

<style>
    .container {
        height: 120px;
        max-width: 600px;
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        color: inherit;

        line-height: 1.5;

        border: 1px solid var(--border-color);
        border-radius: 6px;
        overflow: hidden;
    }
    .container:hover {
        background-color: rgba(170, 170, 170, 0.1);
    }
    .info {
        flex: 1;
        min-width: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.8em;
    }
    .title {
        font-weight: bold;
        font-size: 1.1em;
    }
    .description {
        font-size: 0.8em;
    }
    .title, .description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .site {
        font-size: 0.8em;
    }
    .icon {
        height: 1em;
        width: auto;
    }
    .img {
        height: 100%;
        width: auto;
    }
</style>
